@mixin head-title($border, $position) {
  .head-title {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: $position;
    border-bottom: $border;
    .breadcrumb {
      margin-bottom: 16px;
      line-height: 13px;
      .prevent-link,
      .lastest {
        color: $text-color;
        font-size: 13px;
        font-weight: 400;
      }
      .prevent-link {
        margin-right: 6px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          left: 50%;
          bottom: -3px;
          width: 0;
          height: 1px;
          transition: all 0.3s;
          background-color: $main-color;
        }
        &:hover::after {
          left: 0;
          width: 100%;
        }
      }
      .arright-icon {
        font-size: 12px;
      }
      .lastest {
        margin-left: 6px;
      }
    }
    .title {
      text-align: center;
      font-size: 24px;
      font-weight: 700;
      color: $main-color;
      line-height: 24px;
      text-transform: capitalize;
    }
  }
}

@mixin filter-layers-title {
  padding: 7px;
  font-size: 14px;
  color: $main-color;
  margin-left: 2px;
  pointer-events: none;
}
