$regular-font: "Rubik Light";
$medium-font: "Rubik Regular";
$bold-font: "Rubik Bold";
$white-color: #ffffff;
$main-color: #4a3526;
$second-color: #755847;
$third-color: #a38f7a;
$text-color: #5c4d3f;
$text-light-color: #818ea0;
$border-color: #e5e8ec;
$success-color: #00a046;
$error-color: #fc6161;
$newin-color: #d8c9ba;
$discount-color: #9f1d20;
$campaign-color: #826c5f;
$bg-color: #fcfbf8;
$black-color: #000;
$head-border-bottom: solid 1px $border-color;
