.header {
  width: 100%;
  position: fixed;
  background-color: #fff;
  box-shadow: 0 0 2px #5c4d3f;
  z-index: 999;
  .header-top {
    padding: 17px 0;
    .container {
      .row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .left {
          display: flex;
          align-items: center;
          .language {
            margin-left: 8px;
            padding: 0 8px;
            font-size: 15px;
            color: #5c4d3f;
            display: flex;
            align-items: center;
            .l-down {
              font-size: 17px;
              margin-top: -3px;
              margin-left: -1px;
            }
          }
        }
        .mb-menu {
          display: none;
          .mb-nav {
            display: none;
            height: 100%;
            background-color: #fff;
            position: fixed;
            width: 100%;
            max-width: 425px;
            left: 0;
            top: 0;
            &.active {
              display: block;
            }
            .mb-nav-top {
              padding: 24px 20px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              border-bottom: solid 1px #ccc;

              .homme-logo {
                width: 177px;
                height: 30px;
                display: block;
                img {
                  width: 100%;
                  height: 100%;
                }
              }
            }
            .nav-main {
              overflow-y: scroll;
              height: 80%;
              .nav-list {
                .nav-item {
                  border-bottom: solid 1px #ccc;
                  .nav-link {
                    padding: 15px 20px;
                    display: block;
                    color: #5c4d3f;
                    font-size: 16px;
                    font-weight: 300;
                    line-height: 16px;
                  }
                }
              }
              .mb-register-login {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 16px 20px;
                .login {
                  display: flex;
                  align-items: center;
                  width: fit-content;
                  height: 40px;
                  padding: 0 20px;
                  color: #fff;
                  margin-right: 16px;
                  background-color: #a38f7a;
                  font-weight: 300;
                  border-radius: 3px;
                }
                .register {
                  color: #5c4d3f;
                  font-weight: 300;
                }
              }
            }
            .mb-nav-bottom{
              padding: 10px 20px;
            }
          }

          .menu-icon {
            font-size: 40px;
            color: #755847;
          }
        }
        .homme-logo {
          width: 236px;
          height: 40px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .mb-search {
          display: none;
          .search-icon {
            font-size: 30px;
            color: #755847;
          }
        }
        .user {
          display: flex;
          align-items: center;
          margin-left: 65px;
          a {
            color: #5c4d3f;
          }
          .register-login {
            font-size: 15px;
            font-weight: 500;
            color: #5c4d3f;
            margin-right: 12px;
            letter-spacing: -0.5px;
            span {
              font-weight: 300;
              margin: 0 4px;
            }
            .login {
              color: inherit;
            }
            .register {
              color: inherit;
            }
          }
          .profile {
            margin-right: 15px;
            .profile-icon {
              width: 27px;
              height: 27px;
            }
          }
          .wish-list {
            margin: 0 15px;
            display: flex;
            .wish-list-icon {
              width: 30px;
              height: 30px;
            }
          }
          .cart {
            margin-left: 15px;
            display: flex;
            .cart-icon {
              width: 27px;
              height: 27px;
            }
            .numerical {
              display: flex;
              flex-direction: column;
              margin-left: 10px;
              .total {
                font-size: 11px;
                color: #818ea0;
                font-weight: 300;
              }
              .price {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
  .header-bottom {
    background-color: #a38f7a;
  }
}

@media (max-width: 1024px) {
  .header {
    .header-top {
      .container {
        .row {
          .left {
            display: none;
          }
          .mb-menu {
            display: block;
          }
          .mb-search {
            display: block;
          }
          .user {
            display: none;
          }
        }
      }
    }
  }
}
