.navbar {
  margin-top: 2px;
  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-item {
      .nav-link {
        display: block;
        color: #fff;
        padding: 16px;
        line-height: 16px;
      }
    }
  }
}
