.cart {
  padding-top: 125px;
  .cart-main {
    .container {
      .row {
        @include head-title($head-border-bottom, center);
        .cart-wrapper {
          display: flex;
          .cart-list {
            width: 75.8%;
            margin-top: 40px;
          }
          .order-summary-container {
            width: 25.2%;
            padding-left: 32px;
          }
        }
      }
    }
  }
}
