.home {
  padding-top: 125px;
  width: 100%;
  .hero {
    width: 100%;
    .hero-img {
      width: 100%;
      height: 598px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  .shop-now {
    padding: 32px 0;
  }
  .new-products {
    padding: 32px 0;
  }
  .home-decoration {
    padding: 16px 0;
  }
  .bestseller {
    padding: 32px 0;
  }
  .home-accessories {
    padding: 16px 0;
  }
  .banner-decoration {
    padding: 8px 0;
  }
  .recent-viewed {
    padding: 32px 0;
  }
  .advantages {
    padding: 32px 0;
  }
}

@media(min-width:768px) and (max-width:1024px) {
  .home {
    .hero {
      .hero-img {
        height: 500px;
      }
    }
  }
}
@media(min-width:512px) and (max-width:768px) {
  .home {
    .hero {
      .hero-img {
        height: 400px;
      }
    }
  }
}
@media(min-width:400px) and (max-width:512px) {
  .home {
    .hero {
      .hero-img {
        height: 300px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .home {
    padding-top: 75px;
  }
  .advantages {
    display: none;
  }
}
@media(max-width:400px) {
  .home {
    .hero {
      .hero-img {
        height: 240px;
      }
    }
  }
}