.new-in {
  padding-top: 125px;
  @include head-title($head-border-bottom, center);
  .main-wrapper {
    .container {
      .row {
        padding: 30px 0;
        display: flex;
        width: 100%;
        align-items: flex-start;
        .product-list-side {
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding-right: 48px;
          margin-right: 48px;
          max-width: 293px;
          border-right: solid 1px #e4e4e4;
          height: 600px;
          overflow-y: auto;
          vertical-align: top;
          position: sticky;
          top: 146px;
          &::-webkit-scrollbar {
            background-color: rgba(0, 0, 0, 0.03);
            width: 7px;
            display: none;
          }
          .filter-list {
            margin-top: 15px;
            width: 100%;
            margin-bottom: auto;

            .filter-item {
              margin-bottom: 8px;
              border-bottom: solid 1px #e4e4e4;
              overflow: hidden;
              .filter-content {
                padding: 8px 0 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &.active + .firstlayer-list {
                  height: 100%;
                  margin-bottom: 16px;
                }
                .filter-title {
                  pointer-events: none;
                }
                .icon-container {
                  pointer-events: none;
                }
              }
              .firstlayer-list {
                margin-bottom: 0;
                height: 0;
                .firstlayer-item {
                  .firstlayer-content {
                    display: flex;
                    align-items: center;
                    .firstlayer-check {
                      pointer-events: none;
                      display: none;
                      &:checked + .firstlayer-check-edit {
                        background-color: $main-color;
                        .check-icon {
                          display: block;
                        }
                      }
                    }
                    .firstlayer-check-edit {
                      width: 14px;
                      height: 14px;
                      background-color: transparent;
                      pointer-events: none;
                      border: solid 1.5px $main-color;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      border-radius: 2px;
                      pointer-events: none;
                      .check-icon {
                        display: none;
                        color: #fff;
                        font-size: 14px;
                      }
                    }
                    .product-color {
                      width: 20px;
                      height: 20px;
                      display: block;
                      border-radius: 50%;
                    }
                    .firstlayer-title {
                      @include filter-layers-title;
                    }
                    #minPrice,
                    #maxPrice {
                      width: 84px;
                      height: 32px;
                      padding: 0 8px;
                      outline: none;
                      border: 1px solid $border-color;
                      border-radius: 4px;
                    }
                    .dash {
                      color: $border-color;
                      padding: 0 10px;
                    }
                    .btn {
                      background-color: $main-color;
                      height: 32px;
                      width: 40px;
                      margin-left: auto;
                      border-radius: 4px;
                      color: #fff;
                      border: none;
                      outline: none;
                      cursor: pointer;
                      .search-icon {
                        font-size: 18px;
                      }
                      &:hover {
                        background-color: #50627b;
                        border-color: #50627b;
                        color: $main-color;
                      }
                    }
                    &.active + .secondlayer-list {
                      display: block;
                      .secondlayer-item {
                        .secondlayer-content {
                          &.active + .thirdlayer-list {
                            display: block;
                          }
                        }
                        .thirdlayer-list {
                          display: none;
                        }
                      }
                    }
                  }
                  .secondlayer-list {
                    display: none;
                    .secondlayer-item {
                      .secondlayer-content {
                        display: flex;
                        align-items: center;
                        margin-left: 18px;
                        .secondlayer-check {
                          pointer-events: none;
                          display: none;
                          &:checked + .secondlayer-check-edit {
                            background-color: $main-color;
                            .check-icon {
                              display: block;
                            }
                          }
                        }
                        .secondlayer-check-edit {
                          width: 14px;
                          height: 14px;
                          background-color: transparent;
                          pointer-events: none;
                          border: solid 1.5px $main-color;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                          border-radius: 2px;
                          .check-icon {
                            display: none;
                            color: #fff;
                            font-size: 14px;
                          }
                        }
                        .secondlayer-title {
                          @include filter-layers-title;
                        }
                      }
                      .thirdlayer-list {
                        display: none;
                        .thirdlayer-item {
                          .thirdlayer-content {
                            display: flex;
                            align-items: center;
                            margin-left: 36px;
                            .thirdlayer-check {
                              pointer-events: none;
                              display: none;
                              &:checked + .thirdlayer-check-edit {
                                background-color: $main-color;
                                .check-icon {
                                  display: block;
                                }
                              }
                            }
                            .thirdlayer-check-edit {
                              width: 14px;
                              height: 14px;
                              background-color: transparent;
                              pointer-events: none;
                              border: solid 1.5px $main-color;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 2px;
                              .check-icon {
                                display: none;
                                color: #fff;
                                font-size: 14px;
                              }
                            }
                            .thirdlayer-title {
                              @include filter-layers-title;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .product-list-main {
          overflow-x: hidden;
          width: 100%;
          .product-list-header {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            height: 70px;
            .products-counter {
              font-size: 16px;
              color: $main-color;
              font-weight: 300;
            }
          }
          .product-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            .card {
              width: 25%;
              padding: 0 20px 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .new-in {
    padding-top: 75px;
    .main-wrapper {
      .container {
        .row {
          .product-list-side {
            display: none;
          }
          .product-list-main {
            .product-list {
              .card {
                width: 33.3%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .new-in {
    .main-wrapper {
      .container {
        .row {
          .product-list-main {
            .product-list {
              .card {
                width: 33.3%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 512px) {
  .new-in {
    .main-wrapper {
      .container {
        .row {
          .product-list-main {
            .product-list {
              .card {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
