.new-in {
  padding-top: 125px;
  .wrapper {
    .container {
      .row {
        .head-title {
          padding: 30px 0;
          border-bottom: solid 1px #e5e8ec;
          .breadcrumb {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 16px;
            line-height: 13px;
            .prevent-link,
            .lastest {
              color: #5c4d3f;
              font-size: 13px;
              font-weight: 400;
            }
            .prevent-link {
              margin-right: 6px;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -3px;
                width: 0;
                height: 1px;
                transition: all 0.3s;
                background-color: #4a3526;
              }
              &:hover::after {
                left: 0;
                width: 100%;
              }
            }
            .arright-icon {
              font-size: 12px;
            }
            .lastest {
              margin-left: 6px;
            }
          }
          .title {
            text-align: center;
            font-size: 24px;
            font-weight: 700;
            color: #4a3526;
            line-height: 24px;
          }
        }
        .main-wrapper {
          padding: 30px 0;
          display: flex;
          width: 100%;
          .product-list-side {
            padding-right: 48px;
            margin-right: 48px;
            max-width: 293px;
            width: 100%;
            border-right: solid 1px #e4e4e4;
            .catalog-list {
              position: sticky;
              top: 146px;
              margin-top: 15px;
              .catalog-item {
                margin-bottom: 8px;
                border-bottom: solid 1px #e4e4e4;
                .item-content {
                  padding: 8px 0 16px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  .title {
                    color: #5c4d3f;
                    font-size: 16px;
                    font-weight: 500;
                    letter-spacing: -0.5px;
                  }
                  .icon-container {
                    width: 24px;
                    display: flex;
                    align-items: center;
                    margin-right: 4px;
                    .icon {
                      color: #5c4d3f;
                      font-size: 17px;
                    }
                  }
                }
              }
            }
          }
          .product-list-main {
            width: 100%;
            .product-list-header{
              display: flex;
              align-items: center;
              padding-bottom: 30px;
              height: 70px;
              .products-counter{
                font-size: 16px;
                color: #4a3526;
                font-weight: 300;
              }
            }

            .product-list {
              display: flex;
              margin: 0 -20px;
              flex-wrap: wrap;
              .card {
                width: 25%;
                padding: 0 20px 20px;
              }
            }
          }
        }
      }
    }
  }
}
