.new-in {
  padding-top: 125px;
  @include head-title($head-border-bottom, center);
  .main-wrapper {
    .container {
      .row {
        padding: 30px 0;
        display: flex;
        width: 100%;
        align-items: flex-start;
        .product-list-side {
          display: flex;
          align-items: flex-start;
          width: 100%;
          padding-right: 48px;
          margin-right: 48px;
          max-width: 293px;
          border-right: solid 1px #e4e4e4;
          height: 600px;
          overflow-y: auto;
          vertical-align: top;
          position: sticky;
          top: 146px;
          &::-webkit-scrollbar {
            background-color: rgba(0, 0, 0, 0.03);
            width: 7px;
            display: none;
          }
          .filter-list {
            margin-top: 15px;
            width: 100%;
            margin-bottom: auto;

            .filter-item {
              margin-bottom: 8px;
              border-bottom: solid 1px #e4e4e4;
              overflow: hidden;

              .filter-content {
                padding: 8px 0 16px;
                display: flex;
                justify-content: space-between;
                align-items: center;

                .filter-title {
                  color: #5c4d3f;
                  font-size: 16px;
                  font-weight: 500;
                  letter-spacing: -0.5px;
                  z-index: -1;
                }
                &.active {
                  .icon-container {
                    .icon {
                      transform: rotate(-180deg);
                    }
                  }
                }
                .icon-container {
                  width: 24px;
                  display: flex;
                  align-items: center;
                  margin-right: 4px;
                  z-index: -1;

                  .icon {
                    color: #5c4d3f;
                    font-size: 17px;
                    transition: 0.3s all;
                  }
                }
              }

              .catalog-list {
                height: 0;
                margin-bottom: 0;
              }
              .filter-content.active {
                & + .catalog-list {
                  margin-bottom: 16px;
                  height: 100%;
                  .catalog-item {
                    .catalog-content {
                      display: flex;
                      align-items: center;
                      .product-color {
                        width: 20px;
                        height: 20px;
                        display: block;
                        border-radius: 50%;
                      }
                      .catalog-title {
                        padding: 7px;
                        font-size: 14px;
                        color: #4a3526;
                        margin-left: 2px;
                      }
                      #minPrice,
                      #maxPrice {
                        width: 84px;
                        height: 32px;
                        padding: 0 8px;
                        outline: none;
                        border: 1px solid #e5e8ec;
                        border-radius: 4px;
                      }
                      .dash {
                        color: #e5e8ec;
                        padding: 0 10px;
                      }
                      .btn {
                        background-color: #4a3526;
                        height: 32px;
                        width: 40px;
                        margin-left: auto;
                        border-radius: 4px;
                        color: #fff;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        .search-icon {
                          font-size: 18px;
                        }
                        &:hover {
                          background-color: #50627b;
                          border-color: #50627b;
                          color: #4a3526;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .product-list-main {
          overflow-x: hidden;
          width: 100%;
          .product-list-header {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            height: 70px;
            .products-counter {
              font-size: 16px;
              color: #4a3526;
              font-weight: 300;
            }
          }
          .product-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            .card {
              width: 25%;
              padding: 0 20px 20px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .new-in {
    padding-top: 75px;
    .main-wrapper {
      .container {
        .row {
          .product-list-side {
            display: none;
          }
          .product-list-main {
            .product-list {
              .card {
                width: 33.3%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .new-in {
    .main-wrapper {
      .container {
        .row {
          .product-list-main {
            .product-list {
              .card {
                width: 33.3%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 512px) {
  .new-in {
    .main-wrapper {
      .container {
        .row {
          .product-list-main {
            .product-list {
              .card {
                width: 50%;
              }
            }
          }
        }
      }
    }
  }
}
