.wish-list {
  padding-top: 125px;
  @include head-title($head-border-bottom, start);
  .main-wrapper {
    .container {
      .row {
        .product-list-main {
          overflow-x: hidden;
          width: 100%;
          .product-list-header {
            display: flex;
            align-items: center;
            padding-bottom: 30px;
            height: 70px;
            .products-counter {
              font-size: 16px;
              color: #4a3526;
              font-weight: 300;
            }
          }
          .product-list {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -20px;
            .card {
              width: 20%;
              padding: 16px 20px 20px;
            }
          }
        }
      }
    }
  }
}
